<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Form</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div id="top">
            <h1> tHE Dojo Message Board</h1>
        </div>


        <form action="/message" method="post">
            <p>Name: <input type="text" name="name" /></p>
            <p>Message: <textarea name="message"></textarea></p>
            <input id="post" type="submit" value="Post message" />
        </form>


        <% if (typeof(errors) !== 'undefined' ) { %>
            <% for (const key in errors) { %>
                <h3><%= errors[key].message %></h3>
            <% } %>
        <% } else { %>
            <div>
                <% for(const message of messages) { %>
                    <div>
                        <h3>Name: <%= message.name %> </h3>
                        <h3>Message: <%= message.message %> </h3>
                        <% for (const comment of message._comments) { %>
                            <h5><%= "Name: " + comment.name %> </h5>
                            <h5><%= "Comment: " + comment.text %> </h5>
                        <% } %>

                        <form action='/comment/<%= message._id %>' method="post">
                            <p class="margin">Name: </p><input class="comment_input" type="text" name="name" />
                            <p class="margin">Comment: </p><textarea class="comment_text" name="comment"></textarea>
                            <input class="post2" type="submit" value="Post Comment" />
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>


    </body>
</html>
<style type="text/css">

* {
    font-family:serif;
}
#top{
    border-bottom: 1px solid black;
    width: 90%
}
input, textarea{
    display: block;
    margin-bottom: 2em;
}
textarea{
    width: 60%;
    height: 10em;
}
h5, .comment_input {
    margin-left: 12%
}
#post {
    color:white;
    background-color: orange;
    margin-left: 35%;
    width: 15em;
    height: 3em;
}
.comment_text {
    width: 40%;
    height: 6em;
    margin-left: 12%;
}
.margin{
    margin-left: 12%;
    margin-bottom: -.1em;
}
.post2 {
    color: white;
    background-color: blue;
    margin-left: 33.2%;
    width: 12em;
    height: 15em;
}
</style>
